<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="css/settings/styles.css" />
    <script src="scripts/settings/script5.js"></script>

</head>

<body>
    <div class="menu">
        <div class="logo">
            <img id="logo-img" src="img/logo_transparent.png" alt="Logo">
        </div>
        <div class="buttons">
            <div id="btn1-container" class="menu-button-container">
                <div class="button-icon">
                    <img src="img/icons/reg_button.png" alt="Button 1 Icon">
                </div>
                <a id="btn1" class="menu-button" href="#">
                    <span class="button-text">Registration</span>
                </a>
            </div>
            <div id="btn2-container" class="menu-button-container">
                <div class="button-icon">
                    <img src="img/icons/Start_game.png" alt="Button 2 Icon">
                </div>
                <a id="btn2" class="menu-button" href="#">
                    <span class="button-text">Start game</span>
                </a>
            </div>
            <div id="btn3-container" class="menu-button-container">
                <div class="button-icon">
                    <img src="img/icons/Settings.png" alt="Button 3 Icon">
                </div>
                <a id="btn3" class="menu-button" href = "http://localhost:3000/settings">
                    <span class="button-text">Settings</span>
                </a>
            </div>
            <div id="btn4-container" class="menu-button-container">
                <div class="button-icon">
                    <img src="img/icons/Mobile.png" alt="Button 4 Icon">
                </div>
                <a id="btn4" class="menu-button" href="http://localhost:3000/mobile">
                    <span class="button-text">Mobile</span>
                </a>
            </div>
            <div id="btn5-container" class="menu-button-container">
                <div class="button-icon">
                    <img src="img/icons/Premium.png" alt="Button 5 Icon">
                </div>
                <a id="btn5" class="menu-button" href="#">
                    <span class="button-text">Premium</span>
                </a>
            </div>
        </div>
        <div class="ad">
            <img id="adv-img" src="img/adv_menu.png" alt="Ad">
            <button id="remove-ads-button">Remove Ads</button>
        </div>
    </div>
    <div class="container">
        <table>
            <tr>
                <td class="title" colspan="3">
                    Sequrity
                </td>
            </tr>
            <tr>
                <td class="lorem" colspan="3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa incidunt et dignissimos quisquam
                    molestias quis aut provident fuga commodi accusantium id nulla neque, voluptates, maxime cupiditate
                    quas sunt illum. Ipsum.
                </td>
            </tr>
            <tr>
                <td class="option-menu">
                    <table>
                        <tr>
                            <td>
                                <div class="inactive-button">
                                    <a href = "http://localhost:3000/settings">General</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inactive-button">
                                    <a href = "http://localhost:3000/settings/avatar">Avatar</a>
                                </div> 
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inactive-button">
                                    <a href = "http://localhost:3000/settings/theme">Themes</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="inactive-button" id="need-underline">
                                    <a href = "http://localhost:3000/settings/account">Connected accounts</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="active-button">
                                    <a href = "http://localhost:3000/settings/sequrity">Sequrity</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </td>
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="section-title">
                                Change Password
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td class="input-name-security">
                                            Old Password
                                        </td>
                                        <td>
                                            <input class="input-sequrity" id = "old-password">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="input-name-security">
                                            New Password
                                        </td>
                                        <td>
                                            <input class="input-sequrity" id = "new-password">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="input-name-security">
                                            Confirm New Password
                                        </td>
                                        <td>
                                            <input class="input-sequrity" id = "confirm-password">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <button class="save-button-sequrity">
                                Save
                            </button>
                            </td>
                        </tr>
                        <tr>
                            <td class="section-title">
                                Who can see my profile
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <table>
                                    <tr>
                                        <td class="input-name-security">
                                            Anyone
                                        </td>
                                        <td>
                                            <input type="checkbox" id="anyone-checkbox" class="sequrity-checkbox">
                                        </td>
                                        <td class="input-name-security">
                                            Noone
                                        </td>
                                        <td>
                                            <input type="checkbox" id="noone-checkbox" class="sequrity-checkbox">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                  

        </table>

        <button class="log-out-button">
            Log out
        </button>

    </div>
</body>

</html>