body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 288px 1fr;
  grid-template-rows: 150px 1fr;
  grid-template-areas: "menu top" "menu content";
  height: 100vh;
  background: #FFDA79;
  /* Set the height of the grid container to 100vh to fill the viewport height */
}

.menu {
  grid-area: menu;
  width: 288px;
  background-color: #C69A42;
  /* Set the width and background color of the menu strip */
  display: grid;
  grid-template-rows: 280px auto 300px;
  /* Set the grid template rows for the logo area, buttons, and ad area */
}

.logo {
  /* Styling for the logo area */
  background-color: #C69A42;
  /* Set the background color of the logo area */
}

.buttons {
  /* Styling for the buttons area */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* Set the layout for the buttons area */
}

.ad {
  /* Styling for the ad area */
  background-color: #C69A42;
  /* Set the background color of the ad area */
}

.buttons {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  /* Adjust the number of columns as needed */
}

.menu-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 50px;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  background: #227093;
  margin-left: 15px;
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  /* Width of the circle */
  height: 2rem;
  /* Height of the circle */
  border-radius: 50%;
  /* Make it a circle */
  background-color: transparent;
  /* Background color of the circle */
  margin-right: 1rem;
  /* Space between the icon and text */
  border: 1px white solid;
}

.button-icon img {
  max-width: 100%;
  /* Ensure image fits inside the circle */
  border-radius: 50%;
}

.menu-button {
  display: flex;
  align-items: left;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  font-size: 30px;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

.menu-button-container:hover {
  background-color: #474787;
}

#logo-img {
  max-width: 100%;
  height: auto;
  /* Ensures aspect ratio is maintained */

}

#adv-img {
  margin-left: 15px;
  max-width: 100%;
  height: 265px;
  /* Ensures aspect ratio is maintained */
}

#remove-ads-button {
  width: 288px;
  height: 30px;
  background: #00B2FF;
  border-right: 3px solid #000000;
}

.grid-container {
  display: grid;
}

.top-one {
  position: relative;
  height: 300px;
  background-color: #f0f0f0;
  overflow: hidden;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.top-two {
  height: 50px;
  background: #CD6133;
}

.top-three {
  height: 50px;
  background: #CD6133;
}

.round-image-container {
  position: absolute;
  left: 20%;
  bottom: 60%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.round-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: white 3px solid;
}

.top-two-title {
  color: white;
  font-size: 25px;
  margin-left: 20%;
}

.icon-text-row-1 {
  font-style: italic;
  color: white;
  position: absolute;
  left: 32%;
}

.icon-text-row-2 {
  color: white;
  position: absolute;
  left: 47%;
}

.icon-text-row-3 {
  color: white;
  position: absolute;
  left: 62%;
}

.icon-text-row-4 {
  color: white;
  position: absolute;
  left: 77%;
}

.icon {
  position: absolute;
  width: 20px;
  height: auto;
}

#icon-1 {
  left: 45.5%;
}

#icon-2 {
  left: 60.5%;
}

#icon-3 {
  left: 75.5%;
}

.table-container {
  position: absolute;
  top: 45%;
  width: 700px;
  margin-left: 100px;
  border-radius: 15px;
  border: 3px solid #FF5252;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 10px;
  text-align: center;
  border: 1px solid #FF5252;
}

.table-container th {
  background-color: #CD6133;
  color: #fff;
  font-size: 40px;
}

.table-container tr:nth-child(2) {
  background-color: #FF793F;
  color: #2C2C54;
  font-size: 30px;
}

.table-container-2 {
  position: absolute;
  top: 60%;
  width: 700px;
  margin-left: 100px;
  border-radius: 15px;
  border: 3px solid #FF5252;
  overflow-x: auto;
}

.table-container-2 table {
  width: 99.9%;
  border-collapse: collapse;
}

.table-container-2 th,
.table-container-2 td {
  padding: 8px;
  text-align: left;
  color: #fff;
}

.table-container-2 th,
tr.footer-row td {
  background-color: #FF5252;
}

.table-container-2 td {
  background-color: #CD6133;
}

tr.data-row:nth-child(even) td {
  background-color: #FF793F;
}

tr.header-row th,
tr.footer-row td {
  border: none;
}

.avatar-image {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.data-row {
  text-align: center;
  font-size: 20px;
  border: 3px solid #FF5252;
}

.data-row td {
  border: #000000 1px solid;
  text-align: center;
}

.premium-ad-container {
  position: absolute;
  left: 65%;
  top: 42%;
  width: auto;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 25%;
  top: 25%;
  width: 1200px;
  /* Full width */
  height: 400px;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #FFDA79;
  /* Black w/ opacity */
  border-radius: 5px;
  border: #C69A42 3px solid;
}


/* Style for the close button */
.close {
  color: red;
  float: right;
  font-size: 40px;
  font-weight: bold;
}

.type-img {
  width: 100px;
  height: 100px;
  background: #FF793F;
  border-radius: 5px;
  border: #8A4726 2px solid;
  margin-bottom: 10px;
  margin-top: 10px;

}

.choose-slider {
  width: 90%;
  background: #CD6133;
  border-radius: 25px;
  height: 50px;
  border: #8A4726 2px solid;
  margin-bottom: 10px;
  margin-top: 10px;
}

.choose-slider-div {
  width: 250px;
  height: 40px;
  border-radius: 20px;
  background: #FF793F;
  margin: 5px;
  border: 2px solid #8A4726;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.content-table {
  border-right: 3px black;
}

.side-img {
  width: 75px;
  margin-bottom: 10px;
  margin-top: 10px;
  height: 75px;
  background: #FF793F;
  border-radius: 5px;
  border: #8A4726 2px solid;
}

.side-a {
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: bold;
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.start-game-button {
  width: 90%;
  background: #FF793F;
  border-radius: 25px;
  height: 50px;
  border: #CD6133 2px solid;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 5%;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.start-game-button a {
  color: black;
  font-style: none;
}

.timer-image {
  width: 45px;
  height: auto;
  border-radius: 50%;
  background: #CD6133;
  border: 1px solid #8A4726;
}

.timer-span {
  color: black;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.default-timer-button {
  width: 150px;
  height: 40px;
  border-radius: 20px;
  background: #FF793F;
  margin: 5px;
  border: 2px solid #8A4726;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.custom-timer-button {
  width: 310px;
  height: 40px;
  border-radius: 20px;
  background: #FF793F;
  margin: 5px;
  border: 2px solid #8A4726;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

.active-option {
  border: 5px solid #33d9b2;
}

.hidden-input {
  width: 180px;
  height: 40px;
  border-radius: 20px;
  background: #FF793F;
  margin: 5px;
  border: 2px solid #8A4726;
  text-align: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  width: 30%;
}

td {
  text-align: center;
}