<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="css/openpage/styles.css" />
  <script src="scripts/script.js"></script>

</head>

<body>
  <div class="menu">
    <div class="logo">
      <a href="/register">
        <img id="logo-img" src="img/logo_transparent.png" alt="Logo">
      </a>
    </div>
    <div class="buttons">
      <div id="btn1-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/reg_button.png" alt="Button 1 Icon">
        </div>
        <a id="btn1" class="menu-button" href="/register">
          <span class="button-text">Registration</span>
        </a>
      </div>
      <div id="btn2-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Start_game.png" alt="Button 2 Icon">
        </div>
        <a id="btn2" class="menu-button" href="/register">
          <span class="button-text">Start game</span>
        </a>
      </div>
      <div id="btn3-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Settings.png" alt="Button 3 Icon">
        </div>
        <a id="btn3" class="menu-button" href="/register">
          <span class="button-text">Settings</span>
        </a>
      </div>
      <div id="btn4-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Mobile.png" alt="Button 4 Icon">
        </div>
        <a id="btn4" class="menu-button" href="/register">
          <span class="button-text">Mobile</span>
        </a>
      </div>
      <div id="btn5-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Premium.png" alt="Button 5 Icon">
        </div>
        <a id="btn5" class="menu-button" href="/register">
          <span class="button-text">Premium</span>
        </a>
      </div>
    </div>
    <div class="ad">
      <img id="adv-img" src="img/adv_menu.png" alt="Ad">
      <button id="remove-ads-button">Remove Ads</button>
    </div>
  </div>
  <div class="top">
    <h3 id="strip-title">Welcome to Chess Arena</h3>
  </div>
  <div class="content">
    <div id="dialog-image">
      <img src="img/dialog/dialog0.png" id="content-image-3">
    </div>
    <div class="image">
      <img src="img/Frog_main.png" alt="Main_menu_frog">
      <img id="content-image-1" class="content-image" src="img/text_img/1.png" alt="Content Image 1">
      <img id="content-image-2" class="content-image" src="img/text_img/2.png" alt="Content Image 2">
    </div>

  </div>
</body>

</html>