<!DOCTYPE html>
<html>
<head>
    <title>Chess Arena</title>
    <link rel="stylesheet" href="css/registration_popup/style.css"> 
</head>
<body>
    <div class="container">
        <h1>You are not registered!</h1>
        <p>You have no permission to do it without an account at Chess Arena!</p>
        <div class="button-container">
            <button class="registration-button">Registration</button>
            <button class="login-button">Login</button>
        </div>
    </div>
</body>
</html>
