<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" href="css/mobile/styles.css" />
</head>

<body>
  <div class="menu">
    <div class="logo">
      <img id="logo-img" src="img/logo_transparent.png" alt="Logo">
    </div>
    <div class="buttons">
      <div id="btn1-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/reg_button.png" alt="Button 1 Icon">
        </div>
        <a id="btn1" class="menu-button" href="#">
          <span class="button-text">Registration</span>
        </a>
      </div>
      <div id="btn2-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Start_game.png" alt="Button 2 Icon">
        </div>
        <a id="btn2" class="menu-button" href="#">
          <span class="button-text">Start game</span>
        </a>
      </div>
      <div id="btn3-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Settings.png" alt="Button 3 Icon">
        </div>
        <a id="btn3" class="menu-button" href="#">
          <span class="button-text">Settings</span>
        </a>
      </div>
      <div id="btn4-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Mobile.png" alt="Button 4 Icon">
        </div>
        <a id="btn4" class="menu-button" href="#">
          <span class="button-text">Mobile</span>
        </a>
      </div>
      <div id="btn5-container" class="menu-button-container">
        <div class="button-icon">
          <img src="img/icons/Premium.png" alt="Button 5 Icon">
        </div>
        <a id="btn5" class="menu-button" href="#">
          <span class="button-text">Premium</span>
        </a>
      </div>
    </div>
    <div class="ad">
      <img id="adv-img" src="img/adv_menu.png" alt="Ad">
      <button id="remove-ads-button">Remove Ads</button>
    </div>
  </div>
  <div class="container">
    <table>
      <tr>
        <td colspan="2">
          <h1 class="title">Awesome mobile app</h1>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <img class="profile-img" src="img/mobile.png" alt="Profile Image">
        </td>
        <td>
          <video preload="auto" no-controls autoplay loop playsinline muted>
            <source src="img/gif.mp4" type='video/mp4' />
          </video>
        </td>
      </tr>
      <tr>
        <td>
          <img class="icon-img" src="img/icons/android-apk-button.png">
        </td>
        <td>
          <img class="icon-img-2" src="img/icons/google play.png">
        </td>
      </tr>
    </table>
  </div>
</body>

</html>